/* global */
*{
    padding: 0;
    margin: 0;
}
:root{
    --primary:#99582a;
    --secondary:#bb9457;
    --secondary2:#6f1d1b;


}
body{
    background-color: var(--primary);
}
p{
    line-height: 2;
}

/* utilities */
.grid-two-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: flex-start;
}
/* header */
.site-header{
    background-color: var(--secondary);
    height: 15rem;
}

/* menu */
menu{
    background-color: var(--primary);
}
/* main */
.img-container{
    background-color: var(--secondary2);
    border-radius: 50%;
}
.img-container img{
    border-radius: 50%;
}
#petCount{
    font-weight: bold;
    color: #99582a;
    margin-bottom: 20px;
}
#petNames{
    color: #6f1d1b;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
